# Maven
target/

# IDEA
.idea/
*.iml
*.ipr

# Bower
bower_components/

# Logs
*.log
/src/main/resources/persistance.xml
/src/test/sh/init.sh

application-prod.properties
application-test.properties
/src/main/resources/auth.pub
